# =========================
# Visual Studio / Rider
# =========================
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
**/bin/
**/obj/

# =========================
# .NET
# =========================
*.dll
*.exe
*.pdb
*.cache
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
Desktop.ini

# =========================
# VS Code (keep settings)
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
